<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFNTU8F3CCXHFzhQTiCdky2O8Nyr0mFT4</string>
	<key>GCM_SENDER_ID</key>
	<string>640619258411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clothesApp</string>
	<key>PROJECT_ID</key>
	<string>clothesapp-285b2</string>
	<key>STORAGE_BUCKET</key>
	<string>clothesapp-285b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640619258411:ios:c8416c38d64dcbc3bb006e</string>
</dict>
</plist>